[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask_sqlalchemy = "*"
flask_migrate = "*"
flask-jwt-extended = "*"
psycopg2-binary = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.9"